.navbar-inverse {

  .navbar-nav > li > a {
    color: $nav-dark-blue;
    @include transition(color 1s ease);
    &:hover, &:focus {
      color: $nav-light-blue;
      text-decoration: none;
    }
  }

  .navbar-brand {
    color: white;
  }

  .navbar-nav > li > a.active-link {
    color: $nav-light-blue;
    font-weight: bold;
  }

  .navbar-right > p > a {
    color: $nav-dark-blue;
    @include transition(color 1s ease);
    &:hover {
      color: $nav-light-blue;
      text-decoration: none;
    }
  }
}

.navbar-text.navbar-right {
  margin-right: 0px;
}
